/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    /* background-image: linear-gradient(to bottom right, rgb(149, 149, 199), rgb(30, 31, 100)); */
    background-image: linear-gradient(to bottom right, rgb(138, 216, 138), rgb(38, 177, 25));
    background-repeat: no-repeat;
}